:root {
  --bg-one: #090909;
  --bg-two: #424242;
  --sidebar: #070707;
  --selected: #6bfa50;
  --text-deselected: #c0c0c0;
  --text-selected: #ffffff;
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  background-image: radial-gradient(var(--bg-two), var(--bg-one) 90%);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  position: relative;
  width: 18.5rem;
  height: 50rem;
  border-radius: 10px;
}

.sidebar::before {
  content: "";
  position: absolute;
  width: 18.5rem;
  height: 50rem;
  background-color: rgb(154 154 154 / 10%);
  border-radius: 10px;
  /* opacity: 0.3; */
  box-shadow: inset 0 0 0.2rem 0.03rem rgb(154 154 154 / 90%),
    0 0 0.1rem 0.1rem rgb(0 0 0 / 70%);
  opacity: 0.3;
}

.side-border {
  position: absolute;
  width: 0.3rem;
  background-color: var(--selected);
  height: 100%;
  border-radius: 10px;
  /* left: 18.1rem; */
  /* top: 0.1rem; */
  overflow: hidden;
}

.open-anchor {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--selected);
  top: 11.5rem;
  left: -0.85rem;
}

.open-anchor::after {
  content: "";
  position: absolute;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.8rem solid var(--bg-two);
  left: 0.7rem;
  top: 0.5rem;
}

.expand-sidebar {
  position: absolute;
  width: 2rem;
  height: 100%;
  left: 18.1rem;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.expand-sidebar:hover {
  opacity: 1;
}

aside {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  /* height: 100px; */
}

nav {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  z-index: 1;
}

ul {
  position: relative;
  padding: 0;
  list-style-type: none;
}

li {
  height: 3.5rem;
}

button,
.deselected-button {
  width: 100%;
  height: 3.5rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

button:hover div > span,
.selected-text {
  color: var(--text-selected);
  opacity: 1;
}

button:hover div > svg {
  stroke: var(--text-selected) !important;
  opacity: 1 !important;
  fill: var(--text-selected);
}

button > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 0 1.5rem;
}

svg {
  /* display: none; */
  width: 2rem;
  fill: white;
  stroke: white;
  width: 2.7rem;
  opacity: 0.5;
}

ul {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

ul:nth-child(2) {
  margin: 2.7rem 0;
}

ul:nth-child(4) {
  margin-top: auto;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

span,
.deselected-text {
  color: var(--text-deselected);
  font-size: 1.2rem;
  opacity: 0.6;
}

.indicator {
  position: absolute;
  width: 0.5rem;
  height: 3.5rem;
  background-color: var(--selected);
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1),
    0.5rem 0 1.5rem 0.01rem var(--selected);
  left: -0.65rem;
  top: 7.35rem;
  border-radius: 0.3rem 0.25rem 0.25rem 0.3rem;
  transition: top 0.3s ease-in-out;
}

button div {
  pointer-events: none;
}
